<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to 'Cartridges', cartridges_path %></li>
    <li class="breadcrumb-item" aria-current="page"><%= @cartridge.name %></li>
  </ol>
</nav>

<h1><%= @cartridge.name %></h1>
