<h1>ShootersDB Dashboard</h1>

<ul>
  <li>
    <%= link_to 'Cartridges', cartridges_path %>
  </li>
  <li>
    <%= link_to 'Reloading Checklists', reloading_checklists_path %>
  </li>
  <li>
    <%= link_to 'Load Data', load_data_path %>
  </li>
</ul>
