<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to 'Load Data', load_data_path %></li>
    <li class="breadcrumb-item" aria-current="page">Load Data</li>
  </ol>
</nav>

<h1>Load Data</h1>
