<div class="home-hero">
  <div class="ui text container">
    <h1 class="ui header inverted">
      ShootersDB
    </h1>
    <h2 class="ui header inverted">Your digital data book.</h2>
    <%= link_to 'Get Started', '#', class: 'ui huge primary button' %>
  </div>
</div>

<div class="ui vertical stripe segment">
  <div class="ui text container">
    <h3 class="ui header">Why should you use this app?</h3>
    <p>Dolor fuga nihil quae neque est facilis eveniet. Id beatae dignissimos optio aliquid quam Veritatis tempore odit perspiciatis veritatis iste voluptatem rerum obcaecati? Aperiam ea rem ipsum tenetur amet. Commodi</p>
    <a class="ui large button">Read More</a>
  </div>
</div>
