.home-hero {
  @extend .container-fluid;

  min-height: 700px;

  background: image-url("Reloading-Trays-Boxes.jpg") center !important;
  background-size: cover !important;

  border-radius: 0 !important;
}
