<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to 'Reloading Checklists', reloading_checklists_path %></li>
    <li class="breadcrumb-item" aria-current="page"><%= @checklist.name %></li>
  </ol>
</nav>

<h1><%= @checklist.name %></h1>

<h2>Steps</h2>

<ul>
  <% @checklist.user_reloading_checklist_steps.each do |step| %>
  <li><%= step.name %></li>
  <% end %>
</ul>
